@import url('https://fonts.cdnfonts.com/css/kabrio-abarth?styles=92308,92306');

body {
    padding: 0;
    margin: 0;
    font-family: Kabrio Abarth;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, rgba(73, 86, 155, 0.52), white),
    url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 93vh;
}



/* ---------------------------------------------------------------------------------------------------------------- */


.m-nav-container {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 60%;
}

.m-navbar {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.m-navLeft {
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.m-navLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.m-navleft-txt {
    font-weight: bold;
    font-size: 2em;
}

.m-navcroix {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
}



/* ---------------------------------------------------------------------------------------------------------------- */



.m-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.m-header-container-text {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 30%;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.m-header-text-row1 {
    width: 290px;
}

.m-header-text-row2 {
    width: 290px;
}

.m-header-text-row3 {
    width: 290px;
}

m-header-text-row4 {
    width: 290px;
}

.m-header-row1-title {
    color: #58595f;
    font-weight: bold;
    font-size: 2.8em;
    margin-bottom: 7%;
}

.m-header-title {
    color: #40444d;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 10%;
}

.m-header-undertitle {
    color: #96959b;
    letter-spacing: 5px;
    margin-bottom: 12%;
}

.m-header-btn {
    background-color: #695aa6;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}


/* ---------------------------------------------------------------------------------------------------------------- */


.m-sec1 {
    margin-top: 3%;
}

.sec1-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.m-sec1-left {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.m-sec1-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.m-sec1-img {
    height: 400px;
}

.sec-title {
    color: #695aa6;
    font-weight: bold;
    font-size: 2em;
}

.m-sec1-btn {
    background-color: white;
    color: #695aa6;
    border: solid 1px #695aa6;
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {
    /* telephone*/
    .sec1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .m-sec1-left {
        margin-bottom: 10%;
    }

    .m-sec1-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .m-sec1-right-row {
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .m-header-container-text {
        align-items: center;
        margin-left: 0;
    }

    .m-header-row1-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .m-header-title {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .m-header-undertitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}


@media only screen and (max-width: 768px) and (min-width: 626px) {

    /* tablette*/
    .sec1-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .m-sec1-left {
        margin-bottom: 10%;
    }

    .m-sec1-right {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .m-sec1-right-row {
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .m-header-container-text {
        align-items: center;
        margin-left: 0;
    }

    .m-header-row1-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .m-header-title {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .m-header-undertitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}


/* ---------------------------------------------------------------------------------------------------------------- */



.m-sec2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10% 0 10%;
    width: 80%;
}

.m-sec2-part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-sec2-part1-1 {
    margin-bottom: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.m-sec2-part1-2 {
    margin-bottom: 60%;
}

.m-sec2-part2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.m-sec2-img {
    height: 70px;
}

.sec2-border-img {
    border: 1px solid rgba(39, 39, 39, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 200px;
}

.sec2-desc-img {
    color: #695aa6;
    font-weight: bold;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {

    /* telephone*/
    .m-sec2-part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .sec2-border-img {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 626px) {

    /* tablette*/
    .m-sec2-part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .sec2-border-img {
        width: 50%;
    }
}



/* ---------------------------------------------------------------------------------------------------------------- */



.m-sec3-part1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.m-sec3-img {
    height: 250px;
    width: 100%;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {

    /* telephone*/
    .m-sec3-part1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 626px) {

    /* tablette*/
    .m-sec3-part1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
}



/* ---------------------------------------------------------------------------------------------------------------- */















/* block mauve */
.i-section-mauve{
    margin-top: 50px;
}
.i-mauve{
    background-color: #695aa6;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 160px;
    line-height: 30px;
    font-size: 20px;
}
.i-btn-hire{
    font-size: 1em;
    border-radius: 5%;
    border: none;
    width: 90px;
    height: 40px;
}
@media only screen and (max-width: 600px) and (min-width: 1px) {
    .i-mauve{
        display: flex;
        flex-direction: column;
    }
   
}

/* testmonial */
.i-avatar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.i-avatar-d{
    display: flex;
    align-items: center;
    gap: 5%;
    border: 1px solid rgb(218, 215, 215);
    height: 150px;
    margin-left: 3%;
}
.i-img-avatar{
    border-radius: 50%;
    width: 100px;
    margin-left: -50px;
}
.i-p-avatar{
    width: 80%;
    line-height: 20px;
}
@media only screen and (max-width: 600px) and (min-width: 1px) {
    .i-avatar{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 626px) {
   .i-avatar{
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
}



/* BLOG */
.i-d-blog {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(204, 203, 203);
}

.i-blog {
    margin: 10% 0;
    display: flex;
    justify-content: center;
}

.i-by {
    color: grey;
    font-size: 15px;
}

.i-t {
    color: #695aa6;
}

.i-nombre {
    font-family: sans-serif;
}

.i-read {
    text-decoration: none;
}

.i-imgblog {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.i-img-blog {
    flex: 30%;
}

.i-col2 {
    margin: 5%;
    flex: 80%;
    font-size: larger;
    line-height: 30px;
}







/* CONTACT */
.i-contact {
    margin-bottom: 100px;
}

.i-how {
    color: grey;
    margin-bottom: 0;
    font-size: 20px;
}

.i-me {
    color: #695aa6;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10%;
}

.i-center {
    display: flex;
    justify-content: center;
}

.i-nouilles {
    color: #695aa6;
    font-size: 30px;

}

.i-link-contact {
    text-decoration: none;
    margin-right: 5px;
    color: rgb(92, 92, 92);

}

.i-nouilles-general {
    display: flex;
    align-items: center;
}

.i-X {
    font-size: 20px;
    background-color: white;
    border: 0;
}

.i-d-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i-type {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    color: grey;
}

.i-send {
    background-color: white;
    color: #695aa6;
    border: 2px solid #695aa6;
    border-radius: 5px;
    padding: 10px;
}

/* FOOTER */
.i-d-footer {
    display: flex;
    justify-content: space-between;
}

.i-copy {
    color: grey;
    font-size: 20px;
}

@media screen and (max-width: 600px) and (min-width: 1px){
    .i-d-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .i-d-link{
        display: flex;
        flex-direction: column;
    }
    .i-d-blog{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) and (min-width: 626px) {
    .i-d-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .i-d-link{
        display: flex;
        flex-direction: column;
    }
    .i-d-blog{
        display: flex;
        flex-direction: column;
    }

}